#search-filters
{
	display: block;
	background-color: #4BAAD3;
	border-radius: 10px;
	position: absolute;
	width: 200px;
	height: 400px;
	margin: 15px 20px 20px 15px;
	z-index: 999;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 20px;
	color: white;
	text-transform: uppercase;
}

.filter-row
{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.filter-title
{
	display: inline-block;
	position: relative;
	width: 100%;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 1px #3d3d3d;
	margin-bottom: 10px;
}

.filter-row-title
{
	color: #FFF;
	font-size: 16px;
}

.filter-radio-group
{
	width: 100%;
	margin-top: 5px;
}

#price-amount
{
	margin: 5px;
	margin-bottom: 8px;
	display: inline-block;
	text-align: center;
}

#distance-spinner
{
	width: 25px;
	text-align: center;
}